div(class="ed-container")
	div(class="ed-item m-70") 1
		div(class="ed-grid rows-gap s-grid-2 l-grid-3 lg-grid-4")
			div 3
			div 4
			div 5
			div 6
			div 7
			div 8
			div 9
			div 10
			div 11
			div 12
			div 13
			div 14
			div 15
			div 16
			div 17
			div 18
	div(class="ed-item m-30") 2
