div(class='tns-single' id='tnsSingle')
	div: div(class='tns-single__content'): img(src="assets/slider_mlb.jpg", alt="", srcset="")
	div: div(class='tns-single__content'): span tns Single 2
	div: div(class='tns-single__content'): span tns Single 3
