nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/logo.png', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='sports.html', 	class='top-nav__anchor') Sports
			li(class='top-nav__li'): a(href='casino.html', 	class='top-nav__anchor') Casino
			li(class='top-nav__li'): a(href='racebook.html', 	class='top-nav__anchor') Racebook
			li(class='top-nav__li'): a(href='promotions.html', 	class='top-nav__anchor') Promotions
			li(class='top-nav__li'): a(href='livebetting.html', 	class='top-nav__anchor') Live Betting
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner
